<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Password</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.email }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.password  }}</td>
      <td>
        <button type="button" class="btn btn-success me-2" [routerLink]="['/user', user.id]">Update</button>

        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal1">
          Delete
        </button>

        <div div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure delete this user ?
              </div>
              <div class="modal-footer">
                <button #closeModal type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="onDeleteUser(user.id)">Delete</button>
              </div>
            </div>
          </div>
        </div>

      </td>
    </tr>
  </tbody>
</table>
