<div class="container">
  <form #resForm="ngForm" (ngSubmit)="hideBtnLogin ? handleUpdate(resForm) : handleRegister()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" #email="ngModel" [(ngModel)]="user.email" name="email" class="form-control" id="email" required aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      <div
        class="alert alert-danger mt-3"
        role="alert"
        *ngIf="errorField == 'email'"
      >
        {{ errorMessage | titlecase }}
      </div>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" #name="ngModel" [(ngModel)]="user.name" name="name" class="form-control" id="name" required>
      <div
        class="alert alert-danger mt-3"
        role="alert"
        *ngIf="errorField == 'name'"
      >
        {{ errorMessage | titlecase }}
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" #password="ngModel" [(ngModel)]="user.password" name="password" class="form-control" id="password" required>
      <div
        class="alert alert-danger mt-3"
        role="alert"
        *ngIf="errorField == 'password'"
      >
        {{ errorMessage | titlecase }}
      </div>
    </div>
    <div class="mb-3">
      <label for="confirm-password" class="form-label">Confirm password</label>
      <input
        type="password"
        name="confirm-password"
        class="form-control"
        id="confirm-password"
        [(ngModel)]="confirmPassword"
      >
      <div
        class="alert alert-danger mt-3"
        role="alert"
        *ngIf="errorField == 'confirmPassword'"
      >
        Password and confirm password does not match
      </div>
    </div>
    <div class="mb-3 flex-block">
      <a *ngIf="!hideBtnLogin; else backUser" class="btn btn-secondary" [routerLink]="['/login']" role="button">Login Page</a>
      <ng-template #backUser>
        <a class="btn btn-secondary" [routerLink]="['/user']" role="button">Back</a>
      </ng-template>
      <button type="submit" class="btn btn-primary">{{ btnSubmit }}</button>
    </div>
  </form>
</div>
